.css-bento {
    display: grid;
    gap: 0.7rem;
    justify-self: center;
    align-self: center;

    grid-template-columns: 3rem 2rem 8rem 10rem 0.5px;
    grid-template-rows: 2.5rem 2.5rem 3rem 6rem 5rem;

    grid-template-areas: '. . novel . .'
        '. . novel blog blog'
        '. image image blog blog'
        '. image image music .'
        'social social social music .';
}

.css-bento>div {
    border-radius: 1rem;
    /* box-shadow: 3px 3px 7px black; */
}

.css-novel {
    grid-area: novel;
}

.css-blog {
    grid-area: blog;
}

.css-image {
    grid-area: image;
}

.css-social {
    grid-area: social;
}

.css-music {
    grid-area: music;
}



/* FONTS */
.text-istok-400 {
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-istok-700 {
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    font-style: normal;
}